

body {
  margin: 0;
  padding: 0;
  min-height: 500vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
}


.italic-number {
  font-family: 'FancyFont', sans-serif; /* Apply the custom font to the italic numbers */
  font-style: italic;
  margin-right: 10px;
  background-color: black;
  color: white;
  font-size: 14px;
  width: 30px;
  /* border-radius: 5px; */
  text-align: center;
  line-height: 10px;
  margin-right:10px;
  margin-left: 30px
}

.app {
  display: grid;
  flex-direction: column; /* Display cards in a column */
  align-items: flex-start; /* Center align content */
  padding: 20px;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.cricketer-card {
  border: 1px solid #ccc;
  margin: 10px;
  display: flex;
  text-align: center;
  cursor: pointer;
  border-radius: 10px; /* Add border radius for a rectangular shape */
  background-color: #f2f2f2; /* Set a background color */
  width: 350px;
  
}

.cricketer-card img {
  max-width: 100px;
  max-height: 80px;
  
}

.cricketer-name {
  text-align: center;
  margin-top: 30px; /* Adjust as needed to center the name vertically */
  margin-left: 70px;
  font-family: "Tahoma";
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  
}
.cricketer-card:hover .cricketer-name {
  color: #d20a0a;
}


.cricketer-role {
  text-align: left;
  margin-top: -20px;
  margin-left: 70px;
  font-family: "Tahoma";
  
}


.cricketer-entry {
  display: flex;
  align-items: center;
 margin-bottom: -20px;
 position: relative;
}

.cricketer-entry1 {
  display: flex;
  align-items: center;
 margin-bottom: -20px;
 margin-left: 50px;
 position: relative;
}

.number-square {
  background-color: black;
  color: white;
  font-size: 14px;
  width: 30px;
  /* border-radius: 5px; */
  text-align: center;
  line-height: 10px;
  margin-right:10px;
  margin-left: 30px

}


/* Modify the CSS for the .prompt class */
.prompt {
  background: black; /* Set the background to black */
  color: red; /* Set the font color to red */
  position: fixed;
  top: 50%; /* Position it at the vertical center */
  left: 50%; /* Position it at the horizontal center */
  transform: translate(-50%, -50%); /* Center the prompt */
  padding: 15px;
  text-align: center;
  font-weight: bold;
  z-index: 1000; /* Make sure it's on top of other content */
}

.delete-button {
  background-color:#ff0000 ;
  color: white;
  border: none;
  border-radius: 10%;
  padding: 5px 10px;
  font-size: 8px;
  cursor: pointer;
  position: absolute;
  margin-top: -80px;
 right: 55px;
}

.close-button {
  background-color:#ff0000 ;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 6px;
  cursor: pointer;
  position: absolute;
  margin-top: -20px;

}

.cricketer-list-dropdown {
  border: 3px solid #ccc;
  border-radius: 5px;
  max-height: 800px; /* Set a fixed height for the dropdown */
  max-width: 500px;
  overflow-y: auto; /* Enable vertical scrolling */
}
.selected-cricketer-dropdown {
  border: 3px solid #ccc;
  border-radius: 5px;
  height: 800px;
  width: 500px;
  margin-left: -40px;
  overflow-y: auto; /* Enable vertical scrolling */
  
}

.final-squad-dropdown {
  border: 3px solid #ccc;
  border-radius: 5px;
  height: 1000px;
  width: 500px;
  margin-top: 100px;
  margin-left: -40px;
  overflow-y: auto; /* Enable vertical scrolling */
 }
.final11-dropdown {
  border: 3px solid #ccc;
  border-radius: 5px;
  height: 1000px;
  width: 500px;
  margin-top: 100px;
  overflow-y: auto; /* Enable vertical scrolling */

}


/* Styling for the search bar container */
.search-bar {
  background: #f5f5f5; /* Background color */
  border: 1px solid #ccc; /* Border */
  border-radius: 5px; /* Rounded corners */
  padding: 5px; /* Inner padding */
  display: flex; /* Flex layout to align items */
  align-items: center; /* Vertical alignment */
}

/* Styling for the search input field */
.search-bar {
  background-color: #f5f5f5; /* Background color */
  border: 1px solid #ccc; /* Border */
  border-radius: 5px; /* Rounded corners */
  padding: 5px; /* Inner padding */
  display: flex; /* Flex layout to align items */
  align-items: center; /* Vertical alignment */
}

/* Styling for the search input field */
.search-bar input {
  border: none; /* Remove input border */
  outline: none; /* Remove outline on focus */
  padding: 8px; /* Padding inside input field */
  flex: 1; /* Allow the input to expand and fill available space */
  font-size: 14px; /* Font size */
}

/* Styling for the search placeholder text */
.search-bar input::placeholder {
  color: #888; /* Placeholder text color */
}

.heading1{
  font-family: 'Permanent Marker', 'cursive';
  text-align: center;
  font-size: 30px;

}
.heading2{
  font-family: 'Permanent Marker', 'cursive';
  text-align: center;
  font-size: 30px;
  
}



.final-squad-button {
  
  background-color: black;
  color: white;
  /* border: none; */
  border-radius: 5px;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
 border-style: solid;
 text-transform: uppercase;
 font-family: "Courier New", Courier, monospace;
 font-weight: 600;
 transition: background-color 0.5s;
 margin-left: 900px;
 margin-right: 200px;
 grid-column: span 2;
 position: absolute;
 margin-top: 820px;

}
.final-squad-button:hover {
  background-color: white; /* Change color on hover for a pressable effect */
  color: black;
  
}



/* .cricketer-list-container {
  padding: 10px;
} */


/* .delete-button {
  background-color: #ff0000; 
  color: white; 
  border: none;
  border-radius: 10%; 
  padding: 5px 10px; 
  font-size: 10px; 
  cursor: pointer; 
  position: absolute; 
  top: 90px; 
  right: 300px;  
} */

